---
name: Renovate
on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:
    inputs:
      dryRun:
        description: Run Renovate in dry run mode
        required: false
        type: boolean
        default: true
      repo:
        description: Repository to run Renovate on
        required: false
        type: string
      logLevel:
        description: Log level for Renovate
        required: false
        type: choice
        default: info
        options:
          - info
          - debug

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2
        with:
          private-key: ${{ secrets.PRIVATE_KEY }}
          app-id: ${{ secrets.APP_ID }}
          owner: ${{ github.repository_owner }}

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@5712c6a41dea6cdf32c72d92a763bd417e6606aa # v44.0.5
        with:
          configurationFile: renovate-config.js
          token: "${{ steps.get_token.outputs.token }}"
          env-regex: "^(?:RENOVATE_\\w+|LOG_LEVEL|REPOLIST|DOCKERHUB_USERNAME|DOCKERHUB_TOKEN)$"
        env:
          RENOVATE_DRY_RUN: ${{ contains(inputs.dryRun, 'true') && 'full' || '' }}
          REPOLIST: ${{ inputs.repo != '' && inputs.repo || '' }}
          LOG_LEVEL: ${{ inputs.logLevel != '' && inputs.logLevel || 'info' }}
          DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
          GITHUB_TOKEN: ${{ steps.get_token.outputs.token }}
